
@font-face {
  font-family: 'exmouth';
  src: url('exmouth_.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

header,
h1, h3, h4, h5, h6 {
    color: rgb(126, 180, 192);
    font-family: 'exmouth';
    font-size: 4rem;
    font-weight: 400;
    margin-right: 9rem;
}

subheader,
h2 {
    color: rgb(126, 180, 192);
    font-family: 'exmouth';
    font-size: 2rem;
    font-weight: 400;
    margin-right: 9rem;
}

body {
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, "Helvetica", sans-serif;
    font-weight: 300;
}

a {
    display: inline-block;
    transition: transform 180ms cubic-bezier(.2,.9,.3,1);
    transform-origin: center;
    
}

a:hover,
a:focus-visible {
    transform: scale(1.08);
}

main, p, li, article, div, a, span {
    color: rgb(0, 0, 0);
    padding-right: 2rem;
}
