@font-face {
  font-family: 'EBGaramond-Italic-VariableFont_wght';
  src: url('./fonts/EBGaramond-Italic-VariableFont_wght.ttf) format(.ttf');
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: 'EBGaramond-Italic-VariableFont_wght', serif;
   font-size: 20px;
}


.hovertext {
  display: inline-block;
  transition: letter-spacing 0.3s ease;
}

.hovertext:hover {
  letter-spacing: 1em;
}


.link:hover {
  text-decoration: underline; /* or remove if you don’t want any hover change */
}

h1,
a {
  animation: coolAnimation 3s infinite;
}

#p1 {
  animation: coolAnimation 5s infinite;
}

@keyframes coolAnimation {
  0% {
    color: red;
  }   
  50% {
    color: green;
  }
  100% {
    color: blue;
  }
}
