

@font-face {
  font-family: 'Berylium';
  src: url('./fonts/Berylium\ Rg\ It.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

header {
  display: flex;
  justify-content: center;      /* centers text horizontally */
  align-items: center;          /* centers text vertically */
  
  height: 100vh;                /* make header fill the full viewport */
  margin: 0;

  font-family: 'Berylium', serif;
  font-size: 8rem;              /* large, cinematic type */
  line-height: 1.1;
  text-align: center;
  
  color: rgb(255, 255, 255);

  /* soft glow instead of hard stroke */
  text-shadow:
    0 0 8px rgba(240,191,43,0.8),
    0 0 16px rgba(14, 11, 1, 0.672),
    0 0 32px rgba(51, 40, 6, 0.3);
}

body {
   display: flex;
  justify-content: center;     /* centers horizontally */
  align-items: flex-end;       /* moves content to bottom */
  min-height: 100vh;
  padding-bottom: 10vh;  
  font-family: 'Berylium', serif;
  font-size: 2rem; /* optional */
  line-height: 1.0; /* optional */
  text-align: center ;
  
  color: rgb(238, 217, 156);

   text-shadow:
    0 0 8px rgba(240, 191, 43, 0.8),
    0 0 16px rgba(240, 191, 43, 0.5),
    0 0 32px rgb(37, 28, 4);
   
}

p.body {
  text-align: left;
  position: relative;
  font-size: 2vw;
}


p.body2 {
  text-align: right;
  position: relative;
  font-size: 2vw;
}


.hovertext {
  display: inline-block;
  transition: letter-spacing 0.3s ease;

}

.hovertext:hover {
  letter-spacing: 0.5em;
}


.link:hover {

 
  /* Apply initial blur */
  filter: blur(2px); 
  /* Add a smooth transition for the filter property */
  transition: filter 0.3s ease-in-out; 

}

h1,
a {
  animation: coolAnimation 3s infinite;
}

#p1 {
  animation: coolAnimation 5s infinite;
}

@keyframes coolAnimation {
  0% {
    color: rgb(246, 231, 184);
  }   
  100% {
    color: rgb(29, 127, 184);
  }
}

p {
  text-indent: 2em;      /* fixed first-line indent */
  line-height: 1.6;
}
